

h5, h6 {
    color: brown;
}

#p1 {
    color: pink;
}

.class2 {
    font-size: 30px;
}

.class2 {
    color: yellow;
}

a:link {
    color: green;
}

a[ title='네이버'] {
    color: green;
}

input[placeholder $="me"] {
    background-color: red(200, 43);
} 
