    body {
        background-color: pink;
    }
    .container {
        text-align: center
      }
      
      .img {
        animation: rotate_image  1s linear infinite;
        transform-origin: 50% 50%;
      }
      
      .img2 {
        animation: rotate_image 6s linear infinite, scale1 6s linear infinite;
        transform-origin: 50% 50%;
      }
      
      .img3 {
        animation: rotate_image 6s linear infinite, scale2 6s linear infinite;
        transform-origin: 50% 50%;
      }
      
      @keyframes rotate_image {
        100% {
          transform: rotate(360deg);
        }
      }
      @keyframes scale1 {
        0%   { transform: scale(0) }
        100%  { transform: scale(1) }
      }
      
      
      @keyframes scale2 {
        0%   { transform: scale(1) }
        100%  { transform: scale(0) }
        
      }

      .img:hover {

        animation-play-state:paused;
      }

      .img2:hover {

        animation-play-state:paused; 
    }

      .img3:hover {

        animation-play-state:paused;
        
      }
      
